@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-image: url('./img/plume-2428666_1920.jpg');
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 1px #666;
}

#quote-box {
  width: 100%;
  max-width: 800px;
  background-color: rgba(220,220,220,0.6);
  padding: 10vh 5vw;
}

.quotes {
  opacity: 1;
  transition: opacity .6s;
}

.quotes.hidden {
  opacity: 0;
}

#text {
  font-size: 3rem;
  text-align: left;
  padding: 20px 0;
}

#text i {
  font-size: 1.6rem;
  color: #666;
}

i.fa-quote-left {
  padding-right: 10px;
}

i.fa-quote-right {
  padding-left: 10px;
}
#author {
  font-size: 2rem;
  color: #666;
  font-style: italic;
  text-align: right;
  padding: 20px 0;
}

.buttons {
  display: flex;
}

#tweet-quote {
  display: block;
}

#tweet-quote i {
  font-size: 4rem;
  color: #00aced;
  transition: color .2s;
}

#tweet-quote i:hover {
  color: #0084b4;
}

#new-quote {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background-color: #666;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow .3s;
  outline: none;
  position: relative;
  left: -20px;
}

#new-quote:hover {
  box-shadow: 0 0 2px 2px #333;
}

.loading {
  font-size: 2.5rem;
  text-align: center;
}